<div class="header">
	<%= render "sessions/index/csv" %>
	<%= render "sessions/index/select" %>
	<%= render "sessions/index/remove_data" %>
</div>

<br>

<%= render "sessions/index/canvas" %>
<%= render "sessions/index/scripts" %>
